@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.wrapper{

}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items:center;
background:#F2EAE2
}
.contener{
gap: 32px;
width: 600px;
display: flex;
background:#ffff;
}
.title{
font-family: Montserrat;
font-weight: 500;
font-size: 12px;
letter-spacing: 0.42em;
color: #6C7289;
margin-bottom: 20px;
}
.acer{
margin-bottom: 24px;
font-weight: 700;
font-size: 32px;
line-height: 100%;
}
.text{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 23px;
text-align: left;
}
.aspire{
display: flex;
gap:19px;
}
.next{
margin-bottom: 20px;
font-family: Fraunces;
font-weight: 700;
font-size: 32px;
line-height: 100%;
color: #3D8168;
margin-bottom: 30px;
}
.btn{
padding: 15px 0 ;
width: 100%;
background: #1A4032;
color: #FFFFFF;
display: flex;
justify-content: center;
gap: 19px;
align-items:center;
cursor: pointer;
border-radius:  10px 10px;
border: none
}
.btn:hover{
background: #1A4032;
}
.core{
margin-left: 19px;
margin-top: 7px;
}
.card img{
height: 100%;
}